body {
  font-family: 'Times New Roman', sans-serif; /*majority in this font*/
  background-color: #7fbaee;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


header {
  background-color: #87cefa; /*light blue*/
  padding: 15px 0;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #4682b4;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #a1c8ca;
  border-radius: 5px;
}

button {
  background-color: #87cefa; /* Primary color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #4682b4;
}

/* Card Components */
.card {
  background-color: white;
  border: 1px solid #dcdcdc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
}

.card-header {
  background-color: #f0f8ff;
  padding: 15px;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-content {
  padding: 15px;
  color: #666;
}

/* Forms */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 15px;
}

footer {
  background-color: #87cefa;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

.accent-section {
  background-color: #d3d3d3; /*gray*/
  padding: 20px;
  border-radius: 8px;
  color: #333;
}
