{% extends "documentation.html" %} {% block docContent %}
<div class="lesson" id="what-is-a-note">
  <h2>🎵 What is a Note?</h2>
  <p>
    A <strong>note</strong> is a symbol that tells a musician to play a specific
    sound. Notes show <em>what pitch</em> to play (how high or low a sound is)
    and <em>how long</em> to play it. Notes are written on a set of five
    horizontal lines called a <strong>staff</strong>, and where the note sits on
    the staff determines its pitch.
  </p>
  <p>
    Each note has a name, like A, B, C, D, E, F, or G. After G, the pattern
    repeats! So the musical alphabet is just these seven letters in a loop.
  </p>
  <p>
    In the case of DeltaBeatz, we are only focusing on the rhythms, not the note
    pitches, as everything rests on the same line.
  </p>
</div>
{% endblock %}
