<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NameOfWeb</title>
    <link rel="stylesheet" type="text/css" href="styles.css">



</head>
<body>
    <header>
        <h1>NameOfWeb</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="features.html">Features</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>Convert Your Beats to Musical Notation</h2>
            <button>Get Started</button>
        </section>
    </main>
</body>
</html>
