<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DeltaBeatz</title>
    <link rel="stylesheet" type="text/css" href="static/index.css"> 
</head>

<body>
   <!--navbar-->
    <header>
        {% include 'navbar.html' %}
    </header>
    <div class="userPageContainer"> 
        <div class="userInfo">
            <div class="userPFP">
                <img src={{pfp}}/>
            </div>
            <div class="userAbout">
                <div class="userName">
                    <h2>{{name}}</h2>
                    <p>@{{username}}</p>
                </div>
                <div class="bio">
                    {{bio}}
                </div>

            </div>
        </div>
        <div class="userCompositions">
            <h2>Compositions</h2>
            <div class="compContainer">
                {% for composition in compositions -%}
                <div class="compDisplayContainer">
                    <img src="../static/assets/img/notePlaceholder.png"/>
                    <p>{{composition.name}}</p>
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>
</body>
</html>
