<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DeltaBeatz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>
   <!--navbar-->
    <header>
        {% include 'navbar.html' %}
    </header>
    <div class="userPageContainer"> 
        <div class="userInfo">
            <div class="userPFP">
                <img src="/static/default.png">
            </div>
            <div class="userAbout">
                <div class="userName">
                    <h2>{{name}}</h2>
                    <p>@{{user_data.username}}</p>
                </div>
                <div class="bio">
                    <p>Bio</p>
                    {{bio}}
            </div>
        </div>
        </div>
        <div class="userCompositions">
            <h2>Compositions</h2>
            <div class="compContainer">
                {% for song in user_data.songs -%}
                <div class="compDisplayContainer">
                    <img src="../static/assets/img/notePlaceholder.png"/>
                    <p>{{song}}</p>
                </div>
                {%- endfor %}
            </div>
        </div>
    </div>
</body>
</html>
